.greeting{
  margin-block:70px;
  height:700px;
  text-align:center;
  vertical-align:middle;
  position:relative;
}

.greeting img{
  clip-path:polygon(50% 0%, 0% 100%, 100% 100%);
  width:700px;
}

.greeting h1{
  color:#ffbb00;
  position:absolute;
  top:70%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  margin: auto;
  text-shadow:3px 3px 3px #000000;
  font-family:"myfont";
}

.wrapper{
  perspective: 100vmax;
}

.thanks_message:hover{
  transform: rotate3d(0.1,20,0.1,540deg);
  transition: transform 1s;
}

